//! **************************************************************************
// Written by: Map P.20131013 on Mon Nov 16 18:26:28 2020
//! **************************************************************************

SCHEMATIC START;
COMP "Rx" LOCATE = SITE "P169" LEVEL 1;
COMP "Tx" LOCATE = SITE "P171" LEVEL 1;
COMP "clk" LOCATE = SITE "P180" LEVEL 1;
COMP "fnd_arr_com<0>" LOCATE = SITE "P21" LEVEL 1;
COMP "fnd_arr_com<1>" LOCATE = SITE "P20" LEVEL 1;
COMP "fnd_arr_com<2>" LOCATE = SITE "P19" LEVEL 1;
COMP "fnd_arr_com<3>" LOCATE = SITE "P18" LEVEL 1;
COMP "parit" LOCATE = SITE "P51" LEVEL 1;
COMP "button<0>" LOCATE = SITE "P45" LEVEL 1;
COMP "button<1>" LOCATE = SITE "P46" LEVEL 1;
COMP "button<2>" LOCATE = SITE "P48" LEVEL 1;
COMP "button<3>" LOCATE = SITE "P44" LEVEL 1;
COMP "button<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "button<5>" LOCATE = SITE "P61" LEVEL 1;
COMP "button<6>" LOCATE = SITE "P62" LEVEL 1;
COMP "button<7>" LOCATE = SITE "P52" LEVEL 1;
COMP "button<8>" LOCATE = SITE "P58" LEVEL 1;
COMP "button<9>" LOCATE = SITE "P50" LEVEL 1;
COMP "StateLED<0>" LOCATE = SITE "P16" LEVEL 1;
COMP "StateLED<1>" LOCATE = SITE "P13" LEVEL 1;
COMP "StateLED<2>" LOCATE = SITE "P205" LEVEL 1;
COMP "StateLED<3>" LOCATE = SITE "P203" LEVEL 1;
COMP "StateLED<4>" LOCATE = SITE "P199" LEVEL 1;
COMP "StateLED<5>" LOCATE = SITE "P197" LEVEL 1;
COMP "StateLED<6>" LOCATE = SITE "P194" LEVEL 1;
COMP "StateLED<7>" LOCATE = SITE "P190" LEVEL 1;
COMP "StateLED<8>" LOCATE = SITE "P15" LEVEL 1;
COMP "StateLED<9>" LOCATE = SITE "P12" LEVEL 1;
COMP "fnd_arr_data<0>" LOCATE = SITE "P33" LEVEL 1;
COMP "fnd_arr_data<1>" LOCATE = SITE "P31" LEVEL 1;
COMP "fnd_arr_data<2>" LOCATE = SITE "P29" LEVEL 1;
COMP "fnd_arr_data<3>" LOCATE = SITE "P28" LEVEL 1;
COMP "fnd_arr_data<4>" LOCATE = SITE "P27" LEVEL 1;
COMP "fnd_arr_data<5>" LOCATE = SITE "P26" LEVEL 1;
COMP "fnd_arr_data<6>" LOCATE = SITE "P24" LEVEL 1;
COMP "fnd_arr_data<7>" LOCATE = SITE "P22" LEVEL 1;
COMP "fnd<0>" LOCATE = SITE "P187" LEVEL 1;
COMP "fnd<1>" LOCATE = SITE "P185" LEVEL 1;
COMP "fnd<2>" LOCATE = SITE "P184" LEVEL 1;
COMP "fnd<3>" LOCATE = SITE "P182" LEVEL 1;
COMP "fnd<4>" LOCATE = SITE "P181" LEVEL 1;
COMP "fnd<5>" LOCATE = SITE "P178" LEVEL 1;
COMP "fnd<6>" LOCATE = SITE "P176" LEVEL 1;
COMP "resetn" LOCATE = SITE "P57" LEVEL 1;
COMP "button<10>" LOCATE = SITE "P74" LEVEL 1;
COMP "button<11>" LOCATE = SITE "P68" LEVEL 1;
COMP "button<12>" LOCATE = SITE "P71" LEVEL 1;
COMP "button<13>" LOCATE = SITE "P65" LEVEL 1;
COMP "button<14>" LOCATE = SITE "P67" LEVEL 1;
COMP "button<15>" LOCATE = SITE "P63" LEVEL 1;
COMP "StateLED<10>" LOCATE = SITE "P10" LEVEL 1;
COMP "StateLED<11>" LOCATE = SITE "P204" LEVEL 1;
COMP "StateLED<12>" LOCATE = SITE "P200" LEVEL 1;
COMP "StateLED<13>" LOCATE = SITE "P198" LEVEL 1;
COMP "StateLED<14>" LOCATE = SITE "P196" LEVEL 1;
COMP "StateLED<15>" LOCATE = SITE "P191" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

